* {
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
  color: rgb(18, 11, 111);
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right top, #48c6ef, #6f86d6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed !important;
}

nav {
  background-color: #1c2023;
  padding: 15px 4px;
}

span {
  padding-right: 11px;
  padding-left: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 13px;
  padding: 15px;
  font-size: large;
  margin: 0px auto;
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  font-family: serif;
  align-items: center;
}

.form {
  display: flex;
}

.table {
  border: 3px outset lightgrey;
  box-shadow: 3px 5px 15px 0px whitesmoke;
  width: 800px;
  padding: 2px auto;
  margin: 30px auto;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#login_students {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
}

#login_students td,
#login_students th {
  border: 2px solid rgb(187, 185, 185);
  padding: 8px;
  text-align: left;
}

#login_students tr {
  background-color: #f2f2f2;
}

#login_students tr:hover {
  background-color: #ddd;
}

#login_students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4a77be;
  color: white;
}

.container div {
  padding: 3px;
}

.btn {
  font-family: cursive;
  background-color: rgb(40, 105, 236);
  color: white;
  cursor: pointer;
  border-color: white;
  border-radius: 30px;
  font-size: 20px;
  padding: 1px 20px;
  margin-left: 60px;
}

#select {
  border-radius: 11px;
  font: inherit;
  font-size: 18px;
  padding: 5px 12px;
  outline: none;
  width: 172px;
}

input {
  border-radius: 11px;
  font: inherit;
  font-size: 18px;
  padding: 2px 18px;
  outline: none;
  width: 136px;
  border: none;
}

a {
  border: 2px outset #0296e6;
  margin: 3px;
  font-size: 17px;
  text-decoration: none;
  color: white;
  padding: 2px 14px;
  border-radius: 30px;
  background: #186198;
  font-family: fangsong;
}

a:hover {
  text-decoration: none;
  color: #191276;
  background: #9d9fa0;
  transition: 1s;
}

a:active {
  text-decoration: none;
  color: #000000;
  background: #0694db;
}
